/DGM/
/Kaprun_output/
/temp.tif
/temp.tif.aux.xml
/green_brown_style.qml
/output.prj
/output.dbf
/output.shx
/SkiSlope_qGIS_Project.qgz
/qgisstyle.qml
/test.geojson
/red_blue_style.qml
/test.qmd
/output.shp
/test.csv
/DGM_Salzburg.tif
/DGM_Salzburg.tif.aux.xml
/tiles_output/
/generate_test_data.py
/misc/
/skislope_api/DGM_Salzburg.tif
/skislope_api/temp.tif
/skislope_api/tiles_output/
